#colorSelection {
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa; 
    max-width: 900px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #343a40; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: white;
}

#bolas {
    max-width: 500px;
}

#text-hex, #background-hex {
    text-transform: uppercase;
}

#colorSelection h1 {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}

#escolherCor {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#escolherCor .form-label {
    font-weight: bold;
    color: #495057;
    margin-bottom: 5px;
}

#escolherCor .form-group {
    flex: 1 1 50%;
    padding: 10px;
    box-sizing: border-box;
}

#escolherCor .form-control {
    width: calc(100% - 42px);
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

#escolherCor input[type="color"] {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
}

#escolherArquivo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}

#escolherArquivo button {
    background-color: #545a61;
    border: solid 3px #3f4348;
    color: #fff;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#escolherArquivo button:hover {
    background-color: #3d4146;
    border: solid 3px #2f3235;
}

#save-pdf {
    background-color: #545a61;
    border: solid 3px #3f4348;
    color: #fff;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#save-pdf:hover {
    background-color: #3d4146;
    border: solid 3px #2f3235;
}

#cabecalho{
    background-color: #CFF4FC;
}

#logo-text{
    color: #636363;
}

#resultadosEscolhas {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
 
#contCards {
    max-width: 700px;
}

#resultadosEscolhas .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#resultadosEscolhas .card-body {
    padding: 20px;
    border: 1px solid #ced4da;
    background-color: #f8f9fa; 
}

.card1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#resultadosEscolhas .custom-card-body p {
    margin-bottom: 10px;
    font-weight: bold;
}

#resultadosEscolhas .color-preview {
    padding: 10px;
    border-radius: 4px;
} 

#ratio {
    text-align: center;
}

#ratio #contrast-ratio {
    font-size: 18px;
    color: #343a40;
    font-weight: bold;
}

#btnAdicionarHistorico {
    text-align: center;
}

#btnAdicionarHistorico .btn {
    background-color: #545a61;
    color: #fff;
    border: solid 3px #3f4348;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#btnAdicionarHistorico .btn:hover {
    background-color: #3d4146;
    border: solid 3px #2f3235;
}

#hr {
    margin-top: 20px;
    width: 100%;
    border: solid 1px #c1c1c1;
}

#labelImagem {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    background-color: #dedada;
    text-align: center;
    width: 350px;
    height: 300px;
    border: dashed #7c7c7c 4px;
    font-size: 22px;
}

#labelImagem:hover {
    background-color: #cecece;
}

#mostrarCampoEnvioArquivo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#imagemIconeRemover{
    display: flex;
    justify-content: space-around;
    margin-left: 35px;
}

#removerImagem{
    cursor: pointer;
    font-size: 35px;
    color: rgb(191, 52, 52);
    margin-top: 30px;
}

#canvas {
    margin: 30px;
}


.dNone{
    display: none !important;
}

#cancelarUploadImagem{
    border: none !important;
    margin-top: 30px;
    background-color: rgb(191, 52, 52) !important;
}

#cancelarUploadImagem:hover{
    background-color: rgb(129, 36, 36) !important;
}

#colorCode{
    text-transform: uppercase;
    margin: 0;
}

.testeTD{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row !important;
}

#colorDisplay{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 105px;
    height: 60px;
    border: solid 2px #303030;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button{
    margin-top: 38px;
    background-color: rgb(197, 40, 40);
    color: white;
    border: solid 2px rgb(132, 26, 26);
    padding: 8px;
    border-radius: 5px;
}

.delete-button:hover{
    background-color: rgb(132, 26, 26);
    border: solid 2px rgb(97, 19, 19);
}

.containerr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa; 
    max-width: 900px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #343a40;
    margin-bottom: 12px;
    margin-top: 20px;
}

th{
    text-align: center !important;
}

tr{
    
    background-color: #f8f9fa !important; 
}

.alinharTabela{
    text-transform: uppercase;
}

.row-whith {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-family: "Belleza", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 34px !important;
}

h2 {
    text-transform: uppercase;
    color: rgb(86, 82, 82);
    font-family: "Belleza", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #303030 !important;
    margin-top: 15px !important;
}

.help-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: #7e7e7e;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    border-radius: 360px;
    margin-bottom: 10px;
    top: -10px;
}

.help-button span {
    font-size: 20px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background-color: rgb(200, 200, 200);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 25%;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.circle2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.green {
    background-color: green;
    color: white;
    font-size: 10px;
}

.red {
    background-color: red;
    color: white;
    font-size: 10px;
}

.header {
    background-color: #94D7E8;
    padding: 10px;
}

#td{
    text-transform: uppercase;
}

footer {
    background-color: #94D7E8;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
}

.theme-link:hover {
    color: rgb(94, 96, 19);
}

.theme-link {
    font-weight: bold;
    color: rgb(124, 125, 22);
}

.high-contrast {
    background-color: #121212 !important;
    color: #ffffff !important;
}

.high-contrast a {
    color: #ffffff !important;
}

/* Tabela */
.high-contrast-table {
    background-color: #1f1f1f !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.high-contrast-table th,
.high-contrast-table td {
    border-color: #ffffff !important;
    background-color: #1f1f1f !important;
    color: #ffffff !important;
}

/* Seção de Seleção de Cores */
.high-contrast-colorSelection {
    background-color: #1f1f1f !important;
    color: #ffffff !important;
}

.high-contrast-colorSelection input {
    background-color: #333333 !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.high-contrast-colorSelection input:hover {
    background-color: #282727 !important;
}

.high-contrast-buttons {
    background-color: #333333 !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.high-contrast-buttons:hover {
    background-color: #282727 !important;
}

.high-contrast-popup {
    background-color: #333333 !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.high-contrast-popup-text {
    color: #fff !important;
}

.high-contrast-labelImg {
    background-color: #4a4a4a !important;
    color: #ffffff !important;
    border: dashed #7e7e7e 4px !important;
}

.high-contrast-labelImg:hover {
    background-color: #363636 !important;
}

/* Outros elementos */
.high-contrast-title {
    color: #ffffff !important;
}

.high-contrast-container {
    background-color: #1f1f1f !important;
    color: #ffffff !important;
}

.high-contrast-cards {
    background-color: #1f1f1f;
    color: #ffffff;
}

.high-contrast-hr {
    border: solid 1px #464646 !important;
}

.high-contrast-header-footer {
    background-color:#303030 !important;
    color: white !important;
}
