@import "tailwindcss";

@theme {
  --font-primary: "Atkinson Hyperlegible", sans-serif;
  --font-secondary: "Nunito", sans-serif;
  --font-tertiary: "Montserrat", sans-serif;
  --color-success: #28A745;
  --color-danger: #DC3545;
  --color-warning: #FFC107;
  --color-info: #17A2B8;
  --color-gray100: #F8F9FA;
  --color-gray200: #E9ECEF;
  --color-gray300: #DEE2E6;
  --color-gray400: #CED4DA;
  --color-gray500: #ADB5BD;
  --color-gray600: #6C757D;
  --color-gray700: #495057;
  --color-gray800: #343A40;
  --color-gray900: #212529;
  --color-white: #ffffff;
  --color-black: #000;
  --color-co1: #FEF1E4;
  --color-co2: #FEA001;
  --color-co3: #FF7100;
  --color-co4: #FF5700;
  --color-co5: #AE3B00;
  --color-co6: #84340A;
  --color-co7: #913708;
  --color-dark-color: #54595E;
  --color-sepia: #E0C074;
  --color-sepia2: #f4ecd8;
  --color-fundo-modal: rgba(33, 37, 41, 0.5);

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  line-height: 1.2;
}

.h1 {
  font-size: 40px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 20px;
}

.h6 {
  font-size: 16px;
}

.base-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.base-text2 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.lead-text {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 34px;
}

.lead-text2 {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 34px;
}

.lead-text3 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 34px;
}

.strong-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
}

.input-text {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.bgGauge {
  background: url(../src/assets/bgGauge.jpg) center no-repeat;
  background-size: cover;
}

.formato {
  background: url(../src/assets/moldeGauge.png) center no-repeat;
  background-size: cover !important;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}

.modo_sepia .formato {
  background: url(../src/assets/moldeGaugeSepia.png) center no-repeat;
}

.modo_altoContraste .formato {
  background: url(../src/assets/moldeGaugeAltoContraste.png) center no-repeat;
}

.tooltip-top {
  background: url(../src/assets/tooltip_top.png) center bottom no-repeat;
  background-size: 16px;
}

.tooltip-bottom {
  background: url(../src/assets/tooltip_bottom.png) center top no-repeat;
  background-size: 16px;
}

.tooltip-left {
  background: url(../src/assets/tooltip_left.png) center right no-repeat;
  background-size: 16px;
}

.tooltip-right {
  background: url(../src/assets/tooltip_right.png) center left no-repeat;
  background-size: 16px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.nav-link {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.badge-dark {
  color: var(--color-white);
  background-color: var(--color-gray800);
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border-radius: .25rem;
  margin-left: 4px;
}

#homepage p {
  line-height: 1.7rem !important;
}

.bg-light {
  background-color: var(--color-white);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}

.small, small {
  font-weight: 400;
}

#btn-back-to-top {
  padding: 15px 16px !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.altoContraste .bg-light {
  background-color: #111111 !important;
}

.altoContraste .badge {
  background-color: #ffffff !important;
  color: #000000 !important;
}